body {
    font-family: 'Lato', sans-serif;
}

.navbar a {
    font-weight: bold;
}

.toggle {
    margin-top: 8px;
    padding-left: 25px;
    padding-right: 10px;
}

.collapse a {
    color: black;
}

.toggle:hover {
    cursor: pointer;
}

.toggle a:hover {
    text-decoration: none;
}

section div:nth-child(2) {
    padding: 20px;
    padding-bottom: 200px;
}

#first {
    background-color: #E5E4E2;
    padding: 50px;
}

#first ul {
    position: relative;
    right: 42px;
}

footer li {
    list-style-type: none;
}

#second {
    padding: 50px;
    background: rgba(196, 196, 196, 0.27);
}

#second .row>div:last-child {
    margin-top: 23px;
}

.icons {
    position: relative;
    left: 40px;
}

footer a {
    color: black;
}

footer a:hover {
    text-decoration: none;
    color: black;
}

.contact {
    position: relative;
    right: 60px;
}

.fab {
    margin: 25px;
}

@media screen and (max-width: 508px) and (min-width: 0px) {
    .navbar ul {
        margin-top: 20px;
    }
}

@media screen and (max-width: 767px) and (min-width: 509px) {
    .contact {
        position: relative;
        right: 0;
    }
    #first .col-md-3 {
        margin-top: 20px;
    }
    .navbar ul {
        margin-top: 20px;
    }
    section div:nth-child(2) {
        padding-bottom: 100px;
    }
}

@media screen and (max-width: 1120px) and (min-width: 768px) {
    .icons {
        position: relative;
        left: 20px;
    }
    .fab {
        margin: 30px;
    }
    #first .row>div:nth-child(2),
    #first .row>div:nth-child(3) {
        position: relative;
        right: 45px;
    }
    .contact {
        position: relative;
        margin-right: -1px;
        padding-left: 6px;
        right: 80px !important;
    }
    section div:nth-child(2) {
        padding-bottom: 100px;
    }
}