html {
    font-family: lato;
}

header .navigation {
    background-color: rgba(255, 255, 255, 0.36);
}

.navbar a {
    color: white;
}

.story {
    margin: 100px;
    ;
}

.featured-services {
    background-color: rgba(196, 196, 196, 0.27);
}

.featured-services container {
    margin-top: 3cm;
}

.text-center {}

footer #first {
    background-color: #E5E4E2;
}

footer li {
    list-style-type: none;
}